<main>
  <div class="table-container">
    <table>
      <thead>
        <td>{{ tableHeader.c1 }}</td>
        <td>{{ tableHeader.c2 }}</td>
        <td>{{ tableHeader.c3 }}</td>
        <td>{{ tableHeader.c4 }}</td>
      </thead>
      <tbody>
        @for (parking of parkinsDataService.parkings; track $index) {
        <tr>
          <td>{{ parking.id }}</td>
          <td>
            @if (!parking.garage?.exitHour && parking.garage?.entryHour) {
              <button class="plate" (click)="closeGarage(parking)">
                {{ parking.garage?.plate }}
              </button>
            } @else if (parking.garage?.exitHour) {
              <button (click)="openGarage(parking.id)">
                Available
              </button>
            } @else {
              <button class="parking-available" (click)="openGarage(parking.id)">
                Available
              </button>
            }
            <!-- <span [ngClass]="{available: parking.deshabilitada, occupied: !parking.deshabilitada}">
              {{ parking.deshabilitada ? "Available" : "Occupied" }}
            </span> -->
          </td>

          <td>{{ parking.description }}</td>
          <td>
            <div class="actions-container">
              @if (parking.disabled) {
              <button  title="Occupy" (click)="disableParking($index)">
                <img class="occupy-img" src="./../../../assets/images/arrow-alt-square-left.svg" draggable="false" alt="Occupy"/>
              </button>
              } @else {
              <button title="Vacate" (click)="enableParking($index)">
                <img class="vacate-img" src="./../../../assets/images/arrow-alt-square-right.svg" draggable="false" alt="Vacate"/>
              </button>
              } @if (isAdmin) {
              <button title="Delete parking" (click)="deleteParkingAlert($index)">
                <img class="delete-img" src="./../../../assets/images/trash.svg" draggable="false" alt="Delete">
              </button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if(isAdmin){
      <div class="btn-admin-container">
        <button (click)="addParking()" class="btn-add" title="Add parking">
          <img src="./../../../assets/images/add.svg" draggable="false" alt="+">
        </button>
        @if (parkinsDataService.parkings.length > 1) {
        <button class="delete-all" (click)="deleteAllAlert()">
          Delete All
        </button>
        } 
      </div>
     }
  </div>
</main>
