<main>
  <div class="table-container">
    <table>
      <thead>
        <td>{{ tableHeader.c1 }}</td>
        <td>{{ tableHeader.c2 }}</td>
        <td>{{ tableHeader.c3 }}</td>
        <td>{{ tableHeader.c4 }}</td>
      </thead>
      <tbody>
        @for (cochera of parkinsDataService.cocheras; track $index) {
        <tr>
          <td>{{ cochera.id }}</td>
          <td>
            @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
              <button [id]="cochera.estacionamiento?.patente?.length === 6 ? 'plate' : 'modern-plate'" (click)="closeGarage(cochera)">
                {{ formatPlate(cochera.estacionamiento?.patente) }}
              </button>
            } @else if (cochera.estacionamiento?.horaEgreso) {
              <button (click)="openGarage(cochera.id)">
                Available
              </button>
            } @else {
              <button class="parking-available" (click)="openGarage(cochera.id)">
                Available
              </button>
            }
            <!-- <span [ngClass]="{available: parking.deshabilitada, occupied: !parking.deshabilitada}">
              {{ parking.deshabilitada ? "Available" : "Occupied" }}
            </span> -->
          </td>

          <td>{{ cochera.descripcion }}</td>
          <td>
            <div class="actions-container">
              @if (!cochera.estacionamiento?.patente) {
                @if (!cochera.deshabilitada) {
                <button  title="Occupy" (click)="preguntarDeshabilitarCochera($index)">
                  <img class="occupy-img" src="./../../../assets/images/arrow-alt-square-left.svg" draggable="false" alt="Occupy"/>
                </button>
                } @else {
                <button title="Vacate" (click)="preguntarHabilitarCochera($index)">
                  <img class="vacate-img" src="./../../../assets/images/arrow-alt-square-right.svg" draggable="false" alt="Vacate"/>
                </button>
                } @if (esAdmin) {
                <button title="Delete parking" (click)="preguntarBorrarCochera($index)">
                  <img class="delete-img" src="./../../../assets/images/trash.svg" draggable="false" alt="Delete">
                </button>
                }
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if(esAdmin){
      <div class="btn-admin-container">
        <button (click)="agregarCochera()" class="btn-add" title="Add parking">
          <img src="./../../../assets/images/add.svg" draggable="false" alt="+">
        </button>
      </div>
     }
  </div>
</main>
