<main>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login-box">
    <div class="title-row">
      <div class="welcome-message">
        <h1>Welcome!</h1>
      </div>
    </div>
    <div class="socials-row">
      <a [routerLink]="['/parking-state']" title="Use Google">
        <img src="./../../../assets/images/google.png" alt="Sign in with Google"/>
        Sign in with Google
      </a>
      <a [routerLink]="['/parking-state']" title="Use Apple">
        <img src="./../../../assets/images/apple.png" alt="Sign in with Apple"/>
        Sign in with Apple
      </a>
    </div>
    <div class="lines">
      <div class="line"></div>
      OR
      <div class="line"></div>
    </div>
    <div class="text-field">
      <label for="email">Username</label>
      <input type="text" id="usuario" name="usuario" placeholder="Username" ngModel required/>
    </div>
    <div class="text-field">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" ngModel required/>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="my-form__button">"
      <a>Log in</a>
    </button>
    <div class="my-form__actions">
      <div class="my-form__row">
        <span>Don't have an account?</span>
        <a [routerLink]="['/register']" title="Create Account">
          Sign Up
        </a>
      </div>
    </div>
  </form>
</main>
