$primary-color : #034cbe;
$font-color: #fff;
$border-color: #fff;
$inverted-font-color: #000;
$success-color: rgb(23, 216, 23);
$warning-color: rgb(219, 24, 24);
$bg-color: #333;
$available-color: greenyellow;
$occupied-color: yellow;    