@use "./colors.scss";
main {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: colors.$dm-bg;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  border: solid colors.$dm-on-background;
  overflow: hidden;
  border-radius: 15px;
  
  thead,
  tr {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    min-width: 600px;
    justify-items: center;
    align-items: center;
    height: 50px;
  }
  tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  thead {
    color: colors.$dm-on-primary;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: solid;
    background-color: colors.$dm-primary;
  }
  tbody tr {
    border-bottom: solid 1px;
  }
  .actions-container {
    display: flex;
    justify-content: space-around;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px; 
      padding: 0;
      background: none;
      cursor: pointer;
      img {
        width: 30px;
        padding: 5px;
        border-radius: 10px;
        transition: .125s;
      }
      
      .occupy-img {
        background-color: colors.$available-color;
        &:hover {
          background-color: rgb(0, 202, 0);
        }
        &:active {
          background-color: rgb(0, 178, 0);
        }
      }
      
      .vacate-img {
        background-color: colors.$occupied-color;
        &:hover {
          background-color: rgb(255, 187, 0);
        }
        &:active {
          background-color: rgb(231, 170, 0);
        }
      }
      .delete-img {
        background-color: red;
        &:hover {
          background-color: rgb(207, 0, 0);
        }
        &:active {
          background-color: rgb(186, 0, 0);
        }
      }
    }
  }
}

.btn-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-add {
    display: flex;
    align-items: center;
    background-color: colors.$dm-on-background;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    margin: 10px;
    transition: 0.125s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.4;
    }
    img {
      width: 40px;
    }
  }
  .delete-all {
    padding: 10px 15px;
      background-color: red;
      border-radius: 7px;
      color: colors.$font-color;
      font-size: 1rem;
      margin: 10px;
      cursor: pointer;
      transition: 0.125s;

      &:hover {
        background-color: rgb(201, 0, 0);
      }
      &:active {
        background-color: rgb(165, 0, 0);
      }
  }
}

.available, .occupied {
  background-color: colors.$available-color;
  padding: 10px;
  border-radius: 10px;
  pointer-events: none;
  
}
.occupied {
  background-color: colors.$occupied-color;
  }


