@use "./colors.scss";
main {
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  background-image: url("./../../src/assets/images/parking.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  border: none;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(colors.$dm-surface, 0.5);
  backdrop-filter: blur(5px);
  user-select: none;

  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);

  thead,
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 600px;
    max-width: 700px;
    justify-items: center;
    align-items: center;
    height: 50px;
    transition: 0.1s;

    &:nth-child(even) {
      background-color: rgba(colors.$dm-surface, 0.3);
    }
  }
  tr:hover {
    background-color: darken($color: colors.$dm-surface, $amount: 20%);
  }
  thead {
    color: colors.$dm-on-surface;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: solid darken($color: colors.$dm-border, $amount: 5%);
    background-color: rgba(colors.$dm-surface, 0.5);
    backdrop-filter: blur(5px);
  }
  tbody tr {
    color: colors.$dm-on-surface;
    border-bottom: solid 1px colors.$dm-border;
    td span {
      color: colors.$dm-on-primary;
      font-weight: 700;
    }
  }
  .actions-container {
    display: flex;
    justify-content: space-around;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      padding: 0;
      background: none;
      cursor: pointer;

      img {
        width: 30px;
        padding: 5px;
        border-radius: 10px;
        transition: 0.1s;
      }

      .edit-img {
        background-color: colors.$dm-on-surface;
        &:hover {
          background-color: darken($color: colors.$dm-on-surface, $amount: 30%);
        }
        &:active {
          background-color: darken($color: colors.$dm-on-surface, $amount: 50%);
        }
      }

      .occupy-img {
        background-color: colors.$available-color;
        &:hover {
          background-color: darken(
            $color: colors.$available-color,
            $amount: 10%
          );
        }
        &:active {
          background-color: darken(
            $color: colors.$available-color,
            $amount: 20%
          );
        }
      }

      .vacate-img {
        background-color: colors.$occupied-color;
        &:hover {
          background-color: darken(
            $color: colors.$occupied-color,
            $amount: 10%
          );
        }
        &:active {
          background-color: darken(
            $color: colors.$occupied-color,
            $amount: 20%
          );
        }
      }
      .delete-img {
        background-color: colors.$dm-error;
        &:hover {
          background-color: darken($color: colors.$dm-error, $amount: 10%);
        }
        &:active {
          background-color: darken($color: colors.$dm-error, $amount: 20%);
        }
      }
    }
  }
}

.btn-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-add {
    display: flex;
    align-items: center;
    background-color: colors.$dm-on-background;

    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    margin: 10px;
    transition: 0.125s;
    cursor: pointer;
    &:hover {
      background-color: darken($color: colors.$dm-on-background, $amount: 30%);
    }
    &:active {
      background-color: darken($color: colors.$dm-on-background, $amount: 50%);
    }
    img {
      width: 40px;
    }
  }
  .delete-all {
    padding: 10px 15px;
    background-color: colors.$dm-error;
    border-radius: 7px;
    color: colors.$dm-on-error;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    transition: 0.125s;

    &:hover {
      background-color: darken($color: colors.$dm-error, $amount: 10%);
    }
    &:active {
      background-color: darken($color: colors.$dm-error, $amount: 20%);
    }
  }
}

.parking-available, .parking-disabled {
  min-width: 110px;;
  background-color: colors.$available-color;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.parking-disabled {
  color: #f1f1f1;
  background-color: gray;
  opacity: 0.7;

}

#plate, #modern-plate {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  min-width: 110px;
  padding: 2px 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #121212;
  color: #f1f1f1;
  border-top: 6px solid rgb(237, 237, 237);
  border-bottom: 6px solid rgb(237, 237, 237);
  border-left: 1px solid rgb(237, 237, 237);
  border-right: 1px solid rgb(237, 237, 237);

  
}
#modern-plate {
    background-color: #f1f1f1;
    color: #121212;
    border-top: 8px solid #0030A3;
    border-bottom: 3px solid #121212;
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;

  }